<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/scripts/bootswatch/spacelab/bootstrap.min.css" rel="stylesheet" />
    <link href="~/scripts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/scripts/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/styles/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/styles/appstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Home</a>
                    <a class="navbar-brand" asp-action="Index" asp-controller="Compare">Compare</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>

    <script src="~/scripts/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/scripts/moment/moment.js"></script>
    <script src="~/scripts/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/scripts/bootstrap-switch.min.js"></script>
    <script src="~/scripts/appScript.js" type="text/javascript"></script>
</body>
</html>
